.home {

  h1 {
    color: darkolivegreen;
  }
  
}
.center {
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.table {
  border: 1px;
}

h3 {
  color: darkolivegreen;
}

.bordered {
  border: 10px solid darkolivegreen;
  box-shadow: 0px 0px 20px #888888;
  width: 600px;
  margin: auto;
  border-radius: 15px;
}