.home {

  h1 {
    color: darkolivegreen;
  }
  
}
.center {
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.table {
  border: 1px;
}

h3 {
  color: darkolivegreen;
}

.bordered {
  border: 2px solid darkolivegreen;
  box-shadow: 0px 0px 20px #888888;
  width: 600px;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  margin-top: 20px;
}


.details input, text, select{
  width: 350px;
  
}

tr { background-color: white }
tr:hover { background-color: greenyellow}

.finger:hover {
  cursor: pointer;
}


.invisible {
  display: none
}

td, th {padding: 5px;}

select {
  margin: 5px;
}

input {
  margin: 5px;
}

button {
  margin: 5px;
}