.home {

  h1 {
    color: darkolivegreen;
  }
  
}
.center {
  align-items: center;
  justify-content: center;
}

.table {
  border: 1px;
}

h3 {
  color: darkolivegreen;
}

.bordered {
  border: 2px solid darkolivegreen;
  box-shadow: 0px 0px 20px #888888;
  width: 1000px;
  margin: auto;
  border-radius: 15px;
  padding: 15px;
  margin-top: 20px;
}

.flying {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  margin-top: 300px;
  margin: auto;
  box-shadow: 0px 0px 270px black;
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
}


.details input, text, select{
  width: 350px;
  
}

tr { background-color: white }
tr:hover { background-color: greenyellow}

.finger:hover {
  cursor: pointer;
}


.invisible {
  display: none
}

td, th {padding: 5px;}

select {
  margin: 5px;
}

input {
  margin: 5px;
}

button {
  margin: 5px;
}

.report {
  width: 80%;
  margin: auto;
}

.whiteText {
  color: white;
}

.smallText {
  font-size: 8px;
}

.blue {
  background-color: rgb(173, 204, 250);
}

.select {
  width: 200px;
}

table {
  margin: auto;
}

input[type="radio"]{
  display: none;
    
}

input[type="radio"] + label
{
    background: rgb(245, 243, 243);
    height: 40px;
    width: 210px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
}

input[type="radio"]:checked + label
{
    background:#B2FF66;
    height: 40px;
    width: 210px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
}


.others input[type="radio"]:checked + label
{
    background-image:url(http://student.labranet.jamk.fi/~K8993/ttms0500-harkat/h7/t05-toDoList/images/delete.jpg);
}

label {
  padding: 10px;
}